div{
    display: flex;
    height: 50%;
    justify-content: space-between;
    flex-direction: column;
    margin: 50px;
    background-color: rgba(224, 207, 207, 0.342);
    border-radius: 7px;
    font-size: larger;
}