<div class="container">
    <div class="cart">
        <input type="text" [(ngModel)]="textToSearch" placeholder="Search...">
        <h2>Your cart</h2>
        <table>
            <thead>
                <tr>
                    <td>Image</td>
                    <td>Product</td>
                    <td>Amount</td>
                    <td>Total price</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let c of cartItems">
                    <td>
                        <img [src]="findImage(c.productId)" alt="">
                    </td>
                    <td innerHTML="{{ c.productName | highlight : textToSearch}}
                    ">
                    </td>
                    <td>

                        {{c.amount}}
                    </td>
                    <td>
                        {{c.price}} $
                    </td>
                </tr>
            </tbody>
        </table>
        <footer>
            <h2>Total : {{totalCartPrice}} $</h2>
        </footer>
    </div>
    <div class="orderForm">
        <span><a routerLink="/products">Back to Shop</a></span>
        <form #myForm="ngForm">

            <mat-form-field appearance="outline">
                <mat-label>City: </mat-label>
                <input matInput #cityBox="ngModel" (dblclick)="fillInputs()" type="text" [(ngModel)]="order.city"
                    name="city" required min="2" max="20" pattern="^[A-Z].*$">
                <mat-error *ngIf="cityBox.errors?.pattern && cityBox.dirty">
                    Please start with a capital letter.</mat-error>
                <mat-error *ngIf="cityBox.errors?.required && cityBox.touched">Missing city.</mat-error>
                <mat-error *ngIf="cityBox.errors?.min && cityBox.touched">Minimum 2 chars.</mat-error>
                <mat-error *ngIf="cityBox.errors?.max && cityBox.touched">Maximum 20 chars.</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Street: </mat-label>
                <input matInput #streetBox="ngModel" type="string" [(ngModel)]="order.street" name="street" required
                    minlength="2" maxlength="25">
                <mat-error *ngIf="streetBox.errors?.required && streetBox.touched">Invalid email.</mat-error>
                <mat-error *ngIf="streetBox.errors?.min && streetBox.touched">Min 2 chars.</mat-error>
                <mat-error *ngIf="streetBox.errors?.max && streetBox.touched">Max 25 chars.</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Shipping date: </mat-label>
                <input matInput #shippingBox="ngModel" type="date" [(ngModel)]="order.dateToDeliver"
                    name="dateToDeliver" required>
                <mat-error *ngIf="shippingBox.errors?.required && shippingBox.touched">Missing date.</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Credit card </mat-label>
                <input matInput #creditCardBox="ngModel" type="number" [(ngModel)]="order.creditCard" name="creditCard"
                    min="1000000000000" max="100000000000000000000" required>
                <mat-error *ngIf="creditCardBox.errors?.required && creditCardBox.touched">Missing credit-card.
                </mat-error>
                <mat-error *ngIf="creditCardBox.errors?.minlength && creditCardBox.touched">Min 6 numbers.</mat-error>
                <mat-error *ngIf="creditCardBox.errors?.maxlength && creditCardBox.touched">Max 200 numbers.
                </mat-error>
            </mat-form-field>

            <button mat-stroked-button (click)="sendOrder()" [disabled]="myForm.form.invalid">Next</button>

        </form>

    </div>
</div>